<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>Detail</h1>
    <a id="detail" href="#">Go Home</a>
    <table class="table">
        <tr class="table-active">
            <th style="width: 10%">글번호: </th>
            <th style="width: 30%">글쓴이ID: </th>
            <th style="width: 30%">작성일: </th>
            <th style="width: 30%">조회수: </th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </table>
</body>
</html>